@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background: #FFFEFE;
    overflow-x: hidden;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}
.font-semibold {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}

.btn-shop {
    background: none;
    padding: 15px 25px 15px 25px;
    border: 1px solid black;
}

.bg-dark {
    background: #232222 !important;
}

.dropdown-toggle {
    border: none;
    background: none;
    text-decoration: underline;
}

.shop-now {
    background: white;
    padding: 15px 30px 15px 30px;
    font-size: 1em;
    align-items: center;
    width: 50%;
}

.shop-now:hover {
    background: black;
    color: white;
    border: 1px solid white;
    transition: .4s;
}

input {
    border: 1px solid black;
}

.signin-button {
    background: white;
}

hr {
    border: 2px solid black;
    width: 100vw;
}


@media only screen and (min-width: 1440px) {
    .hero-image {
        margin-left: 3.625rem;
    }

    .about-image {
        margin-left: 1rem;
    }

    .about-description {
        margin-left: 14px;
    }

    .product-container {
        padding-left: 3.75rem;
    }
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
    .shop-now {
        background: white;
        padding: 10px 20px 10px 20px;
        font-size: 1em;
        align-items: center;
        width: 75%;
    }

    .about-image {
        margin-left: 0.688rem;
    }

    .about-description {
        margin-left: 14px;
    }

    .product-odd {
        margin-left: 11.875rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 984px) {
    .shop-now {
        background: white;
        padding: 8px 17px 8px 17px;
        font-size: 11px;
        align-items: center;
        width: 100%;
    }

    .product-odd {
        margin-left: 11.875rem;
    }
}

@media only screen and (min-width: 420px) and (max-width: 600px) {
    .shop-now {
        background: white;
        padding: 8px 17px 8px 17px;
        font-size: 11px;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 390px) {
    .shop-now {
        background: white;
        padding: 8px 17px 8px 17px;
        font-size: 11px;
        align-items: center;
        width: 100%;
    } 

    .carousel-inner {
        text-align: center;
    }

    .TEKLA {
        font-size: 1em;
    }

    .about-image {
        margin-left: 0.688rem;
    }

    .about-description {
        padding: 5
    }

    .explore-cta {
        font-size: 0.563rem;
        margin-left: 12px;
    }

    .product-container {
        margin-left: 1.25rem;
    }

    
}